{% extends "skeletor.html" %}

{% block content %}
<div class="row">
    <div class="row">
        <div class="col s9"></div>
        <div class="col s3">
            <input type="button" @click="closeSession" class="waves-effect waves-light btn" value="Cerrar sesión">
        </div>
    </div>
    <div class="row">
        <div class="col s4"> <b> Bienvenido: </b> {{ name }}</div>
        <div class="col s4"> <b> Email: </b> {{ email }} </div>
        <div class="col s4"> <b> Documento: </b> {{ document }} </div>
    </div>
    <div class="row">
        <form class="col s12" id="search-form">
            <div class="row">
                <div class="col s12">
                    <h5>Búsqueda de datos externos</h5>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Ingrese nombre o correo electrónico" v-model="needle" type="text" class="validate">
                    <label for="needle">Ingrese su búsqueda</label>
                </div>
                <input type="button" @click="searchExternalData" class="waves-effect waves-light btn" value="Buscar">
            </div>
        </form>
        <div class="row">
            <div class="col s12" v-if="searchInProgress">
                <span>Realizando búsqueda en fuentes externas, espere un momento por favor...</span>
            </div>
            <div class="col 12" v-if="showSearchResults">
                <h5>Resultado de la búsqueda</h5>
                <p v-html="result"></p>
                <ul>
                    <li v-for="item in result">
                        {{ item}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s6">
                        <h5>Historial de búsquedas</h5>
                    </div>
                    <div class="col s6">
                        <input type="button" @click="reloadSearchHistory" class="waves-effect waves-light btn" value="Actualizar historial">     
                    </div>   
                </div>
                {%  for search in historySeacrh %}
                    <span>Valor buscado: {{ search.needle }}</span>
                    <ul>
                        Resultado - usuarios encontrados:
                        {% for result in search.result %}
                            <li>
                                &nbsp; <b>Cargo</b>  
                                {% if result.cargo is defined %}
                                    {{ result.cargo }}
                                {% elseif result.job_title is defined %}
                                    {{ result.job_title }}
                                {% endif %}
                                &nbsp;<b> Correo </b>
                                {% if result.correo is defined %}
                                    {{ result.correo }}
                                {% elseif result.email is defined %}
                                    {{ result.email }}
                                {% endif %}
                                &nbsp;<b> Primer nombre </b>
                                {% if result.first_name is defined %}
                                    {{ result.first_name }}
                                {% elseif result.primer_nombre is defined %}
                                    {{ result.primer_nombre }}
                                {% endif %}
                                <b>País</b>
                                {% if result.country is defined %}
                                    {{ result.country }}
                                {% elseif result.pais is defined %}
                                    {{ result.pais }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript  %}
<script>
    var app = new Vue({
        el: '#app',
        data: {
            needle: '',
            result: '',
            searchInProgress: false,
            showSearchResults: false,
        },
        mounted() {
            
        },
        methods: {
            searchExternalData(){
                let formData = new FormData()
                formData.append('needle', this.needle)
                this.searchInProgress = true
                axios.post(baseUrl + 'inc/searchData.php', formData)
                    .then(response => {
                        console.log(response)
                        if (response.data.length === 0) 
                        {
                            this.result = 'No se encontraron resultados';             
                        }
                        else 
                        {
                            this.result = ''
                            for (let index = 0; index < response.data.length; index++) 
                            {
                                const element = response.data[index];
                                this.result += '&nbsp; <b>Cargo</b>&nbsp; '
                                this.result += element.hasOwnProperty('job_title') ? element.job_title : element.cargo
                                this.result += '&nbsp; <b>Correo electrónico</b>&nbsp; '
                                this.result += element.hasOwnProperty('email') ? element.email : element.correo
                                this.result += '&nbsp; <b>Primer Nombre</b>&nbsp; '
                                this.result += element.hasOwnProperty('first_name') ? element.first_name : element.primer_nombre
                                this.result += '&nbsp; <b>Correo electrónico</b>&nbsp; '
                                this.result += element.hasOwnProperty('country') ? element.country : element.pais
                                this.result += '<br>'
                                
                            }
                        }
                        //this.result = response.data.length === 0 ? '' : response.data
                        this.searchInProgress = false
                        this.showSearchResults = true
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            closeSession(){
                axios.post(baseUrl + 'inc/closeSession.php')
                    .then(response => {
                        console.log(response);
                        if (response.data.code === 200) {
                            window.location.href =  baseUrl + 'inc/login.php'    
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            reloadSearchHistory(){
                location.reload()
            },
            validateForm(){
                
            },
            
        },
    })
</script>

{% endblock %}