{% extends "skeletor.html" %}

{% block content %}
    <div class="row">
        <h4> Ingresar al directorio </h4>
        <div class="row">
            <form class="col s12" id="login-form">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Documento" v-model="document" type="text" class="validate">
                        <label for="document">Documento</label>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="Contraseña" v-model="password" type="password" class="validate">
                        <label for="password">Contraseña</label>
                    </div>
                </div>
                <div class="row">
                    <input type="button" @click="login" class="waves-effect waves-light btn" value="Ingresar">
                    <div 
                        v-if="errorInForm"
                        style="color: white; background-color: red; padding: .5em 1em .5em 1em; margin-top: 1em;"
                    >
                        <span v-html="errorDescription"></span>
                    </div>  
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript  %}
<script>
    var app = new Vue({
        el: '#app',
        data: {
            document: '',
            password: '',
            errorInForm: false,
            errorDescription: '',
        },
        mounted() {
            
        },
        methods: {
            login(){
                if (!this.validateForm()) 
                    return
                

                let formData = new FormData()
                formData.append('document', this.document)
                formData.append('password', this.password)
                axios.post(baseUrl + '/inc/loginUser.php', formData)
                    .then(response => {
                        console.log(response);
                        let data = response.data
                        if (data.code === 200) {
                            this.errorInForm = false
                            window.location.href = baseUrl +  'inc/dashboard.php'
                        }
                        else 
                        {
                            this.errorInForm = true 
                            this.errorDescription = data.description   
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    })
            },
            validateForm(){
                if (this.document === '' || this.password === '') {
                    this.errorInForm = true
                    this.errorDescription = 'Ingrese documento y contraseña'
                    return false
                }

                if (this.password.length < 6) {
                    this.errorInForm = true
                    this.errorDescription = 'Credenciales incorrectas'
                    return false
                }

                this.errorInForm = false
                return true
            }
        },
    })
</script>
{% endblock %}

