{% extends "skeletor.html" %}

{% block content %}
    <div>
        <div class="row">
            <form class="col s12" id="register-form">
                <div class="row">
                    <div class="col s12">
                        <h4>Registro de usuarios</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Nombre" v-model="name" type="text" class="validate">
                        <label for="first_name">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Documento" v-model="document" type="text" class="validate">
                        <label for="document">Documento</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Correo electrónico" v-model="email" type="text" class="validate">
                        <label for="email">Correo electrónico</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="País" v-model="country" type="text" class="validate">
                        <label for="country">País</slabel>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input 
                            placeholder="Minimo 6 caracteres, al menos 1 dígito"
                            type="password"
                            v-model="password"
                            class="validate"
                        >
                        <label for="password">Contraseña</label>
                    </div>
                    <div class="input-field col s6">
                        <input 
                            placeholder="Confirmar contraseña"
                            v-model="confirmPassword"
                            type="password"
                            class="validate"
                        >
                        <label for="confirmPassword">Confirmar contraseña</slabel>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <input type="button" @click="registerUser" class="waves-effect waves-light btn" value="Registrarme">
                        <input type="button" @click="goToLogin" class="waves-effect waves-light btn" value="Login">
                    </div>
                    <div class="col s12">
                        <div 
                            v-if="errorInForm"
                            style="color: white; background-color: red; padding: .5em 1em .5em 1em; margin-top: 1em;"
                        >
                            <span v-html="errorDescription"></span>
                        </div>
                        <div 
                            v-if="successRegister"
                            style="color: white; background-color: green; padding: .5em 1em .5em 1em; margin-top: 1em;"
                        >
                            <span>Usuario registrado exitosamente</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript%}
<script>
    var app = new Vue({
        el: '#app',
        data: {
            name: '',
            document: '',
            email: '',
            country: '',
            password: '',
            confirmPassword: '',
            errorInForm: false,
            errorDescription: '',
            successRegister: false,
        },
        mounted() {
            // ...
        },
        methods: {
            registerUser(){
                if (!this.validateForm()){
                    this.successRegister = false
                    return
                }

                let formData = new FormData()
                formData.append('name', this.name)
                formData.append('document', this.document)
                formData.append('email', this.email)
                formData.append('country', this.country)
                formData.append('password', this.password)
                axios.post(baseUrl + '/inc/createUser.php', formData)
                    .then(response => {
                        //console.log(response);
                        let data = response.data
                        if (data.code === 200) 
                        {
                            this.successRegister = true
                            setTimeout(() => {
                                window.location.href = baseUrl + 'inc/login.php'
                                //this.router.push
                            }, 2000);                   
                        }
                        else{
                            this.errorInForm = true
                            this.errorDescription = data.description
                        }
                    })  
                    .catch(error => {
                        console.log(error);
                    })
            },
            validateForm(){
                if (this.name === '' || this.document === '' || this.email === '' || this.country === '' 
                    || this.password === '' || this.confirmPassword === '') {
                    this.errorInForm = true
                    this.errorDescription = 'Por favor complete todos los campos'
                    return false
                }

                if (this.password !== this.confirmPassword || this.password.length < 6 ) {
                    this.errorInForm = true
                    this.errorDescription = 'Las contraseñas deben conincidir y tener al menos 6 caracteres'
                    return false
                }

                this.errorInForm = false
                return true
            },
            goToLogin(){
                window.location.href = baseUrl + 'inc/login.php' 
            }
        },
    })
</script>
{% endblock %}
