<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Materialize Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="container" id="app">
        <div class="row">
            <div class="col s12">
                <h3>Directorio de usuarios</h3>
            </div>
        </div>
        <div id="content">{% block content %}{% endblock %}</div>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
        let baseUrl = "http://localhost/prueba-zinobe/";
    </script>
    {% block javascript  %}
    {% endblock %}
</body>
</html>